.footer-distributed{
	background-color: orange;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 9px sans-serif;
	padding: 8px 30px;
}

.footer-distributed {
	display: inline-block;
	vertical-align: top;
}


.footer-distributed  i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 12px;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	text-align: center;
	line-height: 19px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed  p{
	font-size: 12px;
	display: inline-block;
	color: #ffffff;
	margin:0;
}

.footer-distributed  h5{
	font-size: 16px;
	display: inline-block;
	color: #ffffff;
	margin:0;
}

/* If you don't want the footer to be responsive, remove these media queries */

