@import "http://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
@import "https://daneden.github.io/animate.css/animate.min.css";
/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/
body {
  position: relative;
  overflow-x: hidden;
}
body,
html {
  height: 100%;
  background-color: #583e7e;
}
.nav .open > a {
  background-color: transparent;
}
.nav .open > a:hover {
  background-color: transparent;
}
.nav .open > a:focus {
  background-color: transparent;
}


/*-------------------------------*/
/*           Header         */
/*-------------------------------*/

.container-fluid {
	background: #ffa500;
}

#obj-header-sub-menu {
    position: relative;
    width: 100%;
	background: #ffa500;
}

#obj-header-sub-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#obj-header-sub-menu > ul > li {
    float: left;
    font-size: 17px;
    list-style: outside none none;
    padding: 10px;
}
#obj-header-sub-menu > ul > li > a {
    color: #fff;
    display: block;
    font-weight: normal !important;
    line-height: 18px !important;
    margin: 0;
    outline: medium none;
    padding: 5px 10px;
    text-decoration: none;
}
#obj-header-sub-menu > ul > li > a div.img-nr {
    background:   no-repeat scroll -3px -135px;
    height: 88px;
    margin-top: -38px;
    width: 328px;
}
#obj-header-sub-menu > ul > li > span {
    color: #fff;
    display: block;
    font-weight: normal !important;
    line-height: 18px !important;
    margin: 0;
    outline: medium none;
    padding: 20px 10px;
    text-decoration: none;
}
#obj-header-sub-menu > ul > li#m16 {
    float: right;
    padding: 10px;
    text-align: right;
}


/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
/* SOME DEMO STYLES - NOT REQUIRED */
body,
html {
  background-color: white;
}
body h1,
body h2,
body h3,
body h4 {
  color: rgba(0, 0, 0, 0.8);
}
body p,
body blockquote {
  color: rgba(0, 0, 0, 0.7);
}
body a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}
body a:hover {
  color: #fff;
}


/* Side bar */

body {
  padding-top: 100px; 
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 100px;
  padding-left: 60px;
}
#sidebar .nav {
  width: 90%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}

/* CorporateGroup*/

#corporateGroup {
  background: url(../images/partner_bg.png) 50% 50% no-repeat;
  background-size: cover;
}

#corporateGroup {
  color: #fff;
  text-align: center;
}

#corporateGroup h2, 
#corporateGroup h3 {
  color: #fff;
}

.corporateGroup ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.corporateGroup ul li{
  display: inline-block;
  float: left;
  width: 20%;
}

.container {
  padding-top: 80px; 
  position: relative;
}

#History1 {
  background: url(../images/ir01.png) 50% 50% no-repeat;
  background-size: cover;
}
